#b550 {
  color:blue;
  background : yellow;
  font-weight: normal;

}

#b329 {
  color:blue;
  font-weight: bold;
}

.container {
 
  font-weight: bold;
  width: 150px;

}
#b325 {
  border: solid thin;
  border-color: green;
}
.b326 {
  border: solid thin;
  border-color: green;
 
}