#b550 {
  color:blue;
  background : yellow;
  font-weight: normal;
  width: 155px;

}

#b329 {
  color:blue;
  font-weight: bold;
}

.container {
 
  font-weight: bold;
  width: 155px;

}
#b325 {
  border: solid thin;
  border-color: green;
}
.b326 {
  border: solid thin;
  border-color: green;
 
}